<html>
<head>
   <title>Firmware update</title>
   <link href="{{ url_for('static', filename='mystyle.css')}}" rel="stylesheet" type="text/css" />
</head>
   <body>



      {% for device, value in devices.items() %}
        <div class="divBox">
         <form action = "http://{{ip}}/uploader" method = "POST" enctype = "multipart/form-data" >
            <h4>{{device}}</h4>
            <div class="hiddenToken">
               <input type="hidden" value={{device}} name = "token" readonly></i> <br>
            </div>
            <input type = "text" value={{value.version}} name = "version" required/>
            <input type = "file" name = "file"/> <br><br>
            <input type = "submit" name="button" value="Save"/>
            <input type = "submit" name="button" value="Delete"/>
         </form>
        </div>
      {% endfor %}
      <h3 text-align="center"> Add new device </h3>
      <div class="divBox">
         <br>
         <form action = "http://{{ip}}/uploader" method = "POST" enctype = "multipart/form-data" >
            <input type = "text" placeholder="Token" name = "token" required/> <br> <br>
            <input type = "text" placeholder="Version" name = "version" required/> <br> <br>
            <input type = "file" name = "file" required/> <br> <br>
            <input type = "submit"/>
         </form>
      </div>
   </body>
</html>